<div class="board">
  <div class="board-column">
    <div class="column-title">
      <span>TODO</span>
      <paper-icon-button class="add-item-button" icon="add"></paper-icon-button>
    </div>
    <template is="dom-repeat" items="{{openIssues}}">
      <board-item item=[[item]] on-item-state-changed="updateBoard"></board-item>
    </template>
  </div>
  <div class="board-column">
    <div class="column-title">
      <span>In Progress</span>
      <paper-icon-button class="add-item-button" icon="add"></paper-icon-button>
    </div>
    <template is="dom-repeat" items="{{inProgressIssues}}">
      <board-item item=[[item]] on-item-state-changed="updateBoard"></board-item>
    </template>
  </div>
  <div class="board-column">
    <div class="column-title">
      <span>Done</span>
      <paper-icon-button class="add-item-button" icon="add"></paper-icon-button>
    </div>
    <template is="dom-repeat" items="{{completedIssues}}">
      <board-item item=[[item]] on-item-state-changed="updateBoard"></board-item>
    </template>
  </div>
</div>
<style>
  .board {
    width: calc(100% - 24px);
    max-width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }
  .board-column {
    padding: 24px;
    width: 30%;
    border: 0.5px solid red;
    border-radius: 2px;
    box-shadow: 0px 0px 2px red;rgba(50, 50, 50, .2);
  }
  .column-title {
    padding: 12px;
    border-bottom: 2px solid red;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-item-button {
    color: blue;
    font-weight: 700;
  }
  .add-item-button:hover {
    color: lightblue;
  }
</style>
