<div class="app-layout">
  <div class="app-header">
    This is placeholder for header1
  </div>
  <div class="app-content">
    <!--<template is="dom-if" if="{{isCreateIssueDialogOpen()}}">
        Foovar
    </template>
    <create-issue-button onClick="{{createIssueClicked}}"></create-issue-button>-->
    <create-issue-modal id="createIssueDialog" visible={{issueDialogOpen}} on-issue-created="handleNewIssue"></create-issue-modal>
    <kanban-board id="issueBoard"></kanban-board>
  </div>
  <div class="app-footer">
    This is placeholder for footer
  </div>
</div>
<style>
  .app-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-header {
    height: 10vh;
    width: 100%;
    text-align: center;
  }

  .app-content {
    height: 80vh;
    width: 100%;
    overflow: auto;
  }

  .app-footer {
    width: 100%;
    text-align: center;
  }

  .board-wrapper {
    height: 100%;
    overflow: auto;
  }
</style>
